/target/
/bin/
/.sts4-cache/
.settings/
.classpath
.project
.metadata/
.externalToolBuilders
.recommenders
.factorypath
*.factorypath
.idea/
.project
.iml
*.iml
.ipr
*.ipr
.iws
*.iws
.class
*.class
/classes/
*/target/classes/
/logs/
/lib/
